@model Eventmanagement.ViewModels.UserRegistrationAndRoles

@{
    ViewData["Title"] = "Benutzer anlegen – Privatperson";
}

<div class="border border-dark-subtle rounded-2 shadow p-4">
    <div class="card-body">
        <h2 class="card-title mb-4">@ViewData["Title"]</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

        <form asp-controller="Admin" asp-action="RegisterCustomer" method="post">
            <input type="hidden" name="SelectedRole" value="Customer" />

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="Customer.Customer_FirstName" class="form-label">Vorname:</label>
                    <input asp-for="Customer.Customer_FirstName" class="form-control" />
                </div>
                <div class="col-4">
                    <label asp-for="Customer.Customer_LastName" class="form-label">Nachname:</label>
                    <input asp-for="Customer.Customer_LastName" class="form-control" />
                </div>
                <div class="col-4">
                    <label asp-for="Customer.Customer_DateOfBirth" class="form-label">Geburtsdatum:</label>
                    <input asp-for="Customer.Customer_DateOfBirth" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-8">
                    <label asp-for="Customer.Customer_StreetName" class="form-label">Straße:</label>
                    <input asp-for="Customer.Customer_StreetName" class="form-control" />
                </div>
                <div class="col-2">
                    <label asp-for="Customer.Customer_StreetNumber" class="form-label">Hausnummer:</label>
                    <input asp-for="Customer.Customer_StreetNumber" class="form-control" />
                </div>
                <div class="col-2">
                    <label asp-for="Customer.Customer_ApartmentNumber" class="form-label">Tür:</label>
                    <input asp-for="Customer.Customer_ApartmentNumber" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-3">
                    <label asp-for="Customer.Customer_ZIP" class="form-label">PLZ:</label>
                    <input asp-for="Customer.Customer_ZIP" class="form-control" />
                </div>
                <div class="col-3">
                    <label asp-for="Customer.Customer_City" class="form-label">Ort:</label>
                    <input asp-for="Customer.Customer_City" class="form-control" />
                </div>
                <div class="col-3">
                    <label asp-for="Customer.Customer_State" class="form-label">Bundesland:</label>
                    <input asp-for="Customer.Customer_State" class="form-control" />
                </div>
                <div class="col-3">
                    <label asp-for="Customer.Customer_Country" class="form-label">Land:</label>
                    <input asp-for="Customer.Customer_Country" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label">E-Mail:</label>
                    <input asp-for="SharedEmail" class="form-control"
                           oninput="document.getElementById('CustomerEmailHidden').value = this.value;
                    document.getElementById('LogInNameHidden').value = this.value;" />

                    <input asp-for="Customer.Customer_Email" id="CustomerEmailHidden" class="form-control d-none" />
                    <input asp-for="Customer.Customer_LogIn.LogIn_Name" id="LogInNameHidden" class="form-control d-none" />

                    <span asp-validation-for="SharedEmail" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Customer.Customer_Phone" class="form-label">Telefon:</label>
                    <input asp-for="Customer.Customer_Phone" class="form-control" />
                </div>
            </div>

            <input asp-for="Customer.Customer_LogIn.LogIn_Name" class="form-control d-none" />

            <div class="row mb-3">
                <div class="col-6">
                    <label asp-for="Customer.Customer_LogIn.LogIn_Password" class="form-label">Passwort:</label>
                    <input asp-for="Customer.Customer_LogIn.LogIn_Password" class="form-control" type="password" />
                </div>
                <div class="col-6">
                    <label class="form-label">Passwort wiederholen:</label>
                    <input name="ConfirmPassword" class="form-control" value="@Model.ConfirmPassword" type="password" />
                </div>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">Jetzt registrieren</button>
            </div>
        </form>
    </div>
</div>
