@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["LoginError"] != null)
{
    <div class="alert alert-warning" role="alert">
        @switch (TempData["LoginError"].ToString())
        {
            case "EmailNotFound":
                @:Die eingegebene E-Mail-Adresse wurde nicht gefunden.
                break;
            case "InvalidPassword":
                @:Das eingegebene Passwort ist ungültig.
                break;
            case "UserBlocked":
                @:Dein Konto wurde gesperrt.
                break;
            case "RoleNotAssigned":
                @:Es konnte keine Benutzerrolle ermittelt werden.
                break;
            default:
                @:Unbekannter Fehler beim Login.
                break;
        }
    </div>
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
